@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 30px;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.Conteiner {
  width: 1000px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 30px;
  -webkit-box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.75);
}

.Conteiner_img {
  position: relative;
  padding-right: 15rem;
  height: 100%;
  width: 500px;
}

.Conteiner_controler_imgBoxDesk {
  position: relative;
  left: -94px;
  top: 172px;
}

.Conteiner_Deskwomanimg {
  position: absolute;
  width: 400px;
  height: 100%;
  background: url(./assets/icon/illustration-woman-online-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: -80px;
  background-position-y: 33px;
}

.Conteiner_DeskBgimg {
  position: absolute;
  width: 80%;
  height: 100%;
  background: url(./assets/icon/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: -570px;
  background-position-y: -346px;
}
